
    <div class="heading">
        <div class="_8ice"><img class="fb_logo _8ilh img" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" ></div>
    </div>   

    <div class="_4bl7 _9ji4">
        <form class="row g-3 needs-validation" novalidate>
            <tr> 
                <div class="">
                    <input type="text" class="form-control" id="validationCustom01" value="" placeholder="Email address" required>
                </div>
            </tr>
            <tr>
                <div class="">
                    <input type="password" class="form-control" id="validationCustom02" value="" placeholder="Password" required>
                  </div>  
            </tr>
            <tr>
                <div class="">
                    <button class="btn btn-primary" [routerLink]="['/home']" id="loginBtn" type="submit">Log In</button>
                </div>
            </tr>          
            <tr>
                <div class="">
                    <a href="#" id="forgottenPassword">Forgotten password?</a>
                </div>
            </tr>
            <div class="line"></div>        
            <tr>
                <div class="">
                  <button class="btn btn-primary" [routerLink]="['/register']" id="createBtn" type="submit">Create New Account</button>
                </div>
            </tr>  
        </form>
    </div>   
