
   <table>

    <tr>
      <td colspan="3" class="top">
        <app-navbar></app-navbar>
      </td>
    </tr>

    <tr class="middle">
        <td class="middleLeft">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0 profilePic">
        </td>

        <td class="middleRight">
            <h3 class="userName">{{user.username}}</h3>
            <h3 class="bio">Bio:</h3>
            
            <div class="social">
                <button class="btnGlobe">
                    <fa-icon [icon]="faGlobe" size="2x"></fa-icon>  
                </button> &nbsp;
                <button class="btnFacebook">
                    <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnInstagram">
                    <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnYoutube">
                    <fa-icon [icon]="faYoutube" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnLinkedin">
                    <fa-icon [icon]="faLinkedin" size="2x" class="icn"></fa-icon>
                </button>
                <button class="btnSnapchat">
                    <fa-icon [icon]="faSnapchat" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnGooglePlus">
                    <fa-icon [icon]="faGooglePlus" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnDiscord">
                    <fa-icon [icon]="faDiscord" size="2x" class="icn"></fa-icon>
                </button> 
            </div>

        </td>
    </tr>

    <tr class="line" >
        <div></div>
    </tr>
    
    <tr>    
        <th class="left">

            <div>
                <h2 class="name">{{user.firstName}} {{user.lastName}}</h2>
            </div>

            <div class="points">
                <h3 class="subCategory">Points___</h3>
                <ul style="list-style-type: none;">
                    <li></li>
                </ul>
            </div>
    
            <div class="followers">
                <h3 class="subCategory">Followers___</h3>
                <ul style="list-style-type: none;">
                    <li></li>
                </ul>
            </div>
    
            <div class="following">
                <h3 class="subCategory">Following___</h3>
                <ul style="list-style-type: none;">
                    <li></li>
                </ul>
            </div>

            <div>
                <h2 class="editProfile">Edit Profile</h2>
            </div>

        </th>  

        <th>
            <div class="stories">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle" id="story">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle"  id="story">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle"  id="story">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle" id="story">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle"  id="story">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle"  id="story">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle" id="story">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle"  id="story">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle"  id="story">
            </div>

            <div>
                <h1 class="postHeading">NEWPOST</h1>
                <h3 class="post">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="rounded-circle" id="userImage">
                    user_name
                </h3>
                <h4 class="uploadTime">Upload Time</h4>
                <h2 class="postTitle">Title</h2>
                <h2 class="postDetails">Details</h2>
                <div class="postImage">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" id="postImage">
                </div>
                <div class="vl1"></div>
                <div class="postBtns">
                    <button class="likeBtn">
                        <fa-icon [icon]="faHeart" size="2x"></fa-icon>
                    </button> &nbsp;
                    <button class="commentBtn">
                        <fa-icon [icon]="faComment" size="2x"></fa-icon>
                    </button> &nbsp;
                    <button class="downloadBtn">
                        <fa-icon [icon]="faDownload" size="2x"></fa-icon>
                    </button> &nbsp;
                    <button class="saveBtn">
                        <fa-icon [icon]="faBookmark" size="2x"></fa-icon>
                    </button> &nbsp;
                    <button class="shareBtn">
                        <fa-icon [icon]="faShareAlt" size="2x" class="icn"></fa-icon>
                    </button> 
                </div>
                <br><br><br>
            </div>
        </th>
      
        <th class="right">
            <div></div>
        </th>
      
    </tr>
    
  </table>

  
  
  

  