
   <table>

    <tr>
      <td colspan="3" class="top">
        <app-navbar></app-navbar>
      </td>
    </tr>

    <tr class="middle">
        <td class="middleLeft">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0 profilePic">
        </td>

        <td class="middleRight">
            <h3 class="userName">User_name</h3>
            <h3 class="bio">Branches with location</h3>
            
            <div class="social">
                <button class="btnGlobe">
                    <fa-icon [icon]="faGlobe" size="2x"></fa-icon>  
                </button> &nbsp;
                <button class="btnFacebook">
                    <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnInstagram">
                    <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnYoutube">
                    <fa-icon [icon]="faYoutube" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnLinkedin">
                    <fa-icon [icon]="faLinkedin" size="2x" class="icn"></fa-icon>
                </button>
                <button class="btnSnapchat">
                    <fa-icon [icon]="faSnapchat" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnGooglePlus">
                    <fa-icon [icon]="faGooglePlus" size="2x"></fa-icon>
                </button> &nbsp;
                <button class="btnDiscord">
                    <fa-icon [icon]="faDiscord" size="2x" class="icn"></fa-icon>
                </button> 
            </div>

        </td>
    </tr>

    <tr class="line" >
        <div></div>
    </tr>
    
    <tr>    
        <th class="left">

            <div>
                <h2 class="name">Full Name</h2>
            </div>

            <div class="points">
                <h3 class="subCategory">Points___</h3>
                <ul style="list-style-type: none;">
                    <li></li>
                </ul>
            </div>
    
            <div class="followers">
                <h3 class="subCategory">Followers___</h3>
                <ul style="list-style-type: none;">
                    <li></li>
                </ul>
            </div>
    
            <div class="following">
                <h3 class="subCategory">Following___</h3>
                <ul style="list-style-type: none;">
                    <li></li>
                </ul>
            </div>

            <div>
                <h2 class="editProfile">Edit Profile</h2>
            </div>

        </th>  

        <th>
            <div class="itemsLine">
                <button class="mat-button-toggle" id="itemsBtns">Post</button>
                <button class="mat-button-toggle" id="itemsBtns">Menu</button>
                <button class="mat-button-toggle" id="itemsBtns">Employee</button>
                <button class="mat-button-toggle" id="itemsBtns">Preview</button>
                <button class="mat-button-toggle" id="itemsBtns">Photo</button>
            </div><br><br>

            <div>
                <tr>
                    <td class="firstCol">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle" id="postImage">
                        <span class="fullName">Full Name</span>
                        <div class="manager">Manager</div>
                    </td>
                    <td class="secondCol">Points</td>
                    <td class="thirdCol">Review</td>
                  </tr>
                  
                <tr>
                    <td class="firstCol">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle" id="postImage">
                        <span class="fullName">Full Name</span>
                        <div class="manager">Manager</div>
                    </td>
                    <td class="secondCol">Points</td>
                    <td class="thirdCol">Review</td>
                </tr>
                  
                <tr>
                    <td class="firstCol">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle" id="postImage">
                        <span class="fullName">Full Name</span>
                          <div class="manager">Manager</div>
                    </td>
                    <td class="secondCol">Points</td>
                    <td class="thirdCol">Review</td>
                </tr>
                  
                <tr>
                    <td class="firstCol">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class=" rounded-circle" id="postImage">
                        <span class="fullName">Full Name</span>
                        <div class="manager">Manager</div>
                    </td>
                    <td class="secondCol">Points</td>
                    <td class="thirdCol">Review</td>
                </tr> 
            </div>
        </th>
      
        <th class="right">
            <div></div>
        </th>
      
    </tr>
    
  </table>

  
  
  

  