
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 90vh;
    overflow: scroll;
    background-color: white;
    box-shadow: 0 2px 6px 1px silver;
    margin-top: 35px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 8%;
    padding: 10px;
    margin-left: -15%;
}

.mat-form-field {
    margin-top: -20px;
}

.title {
    font-size: 26px;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}

.author {
    font-size: 16px;
}

.comments {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.uname {
    font-size: 16px;
    font-weight: 450;
}

.comment {
    font-size: 16px;
    padding-left: 10px;
}

#lblInput {
    color: black;
}

#btnComment {
    width: fit-content;
    background-color: rgb(66, 129, 247);
    font-size: 17px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
