.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: auto;
    background: white;
    box-shadow: 0 2px 6px 1px silver;
    margin-top: 3.7%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 20px;
    padding: 10px;
}

#lblHeading {
    color: #4281F7;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
    height: 15px;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: block;
    color: black;
}

#lblInput {
    color: #4281F7;
    font-weight: bold;
}

#inputLine {
    color: black;
    background-color: black;
}

.mat-form-field-ripple {
    background-color: #0e0d0d;
}


.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color:#1011cc;
}

#btnPost {
    width: 20%;
    background-color: rgb(66, 129, 247);
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40%;
    height: 50px;
    font-weight: bold;
}

.content {
    margin-top: 2%;
    background-color: aliceblue;
}

.mat-form-field {
    height: 55px;
}
 